:root {
	--color-primary: #000;
	--color-secondary: #fff;
	--color-gray: #222;
	--color-hover: #ff3c3c;
	--font-family: 'Mulish', sans-serif;
	--second-family: 'Oswald', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--font-family);
	line-height: 1.5;
	color: var(--color-primary);
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
}

button,
a {
	transition:
		color 0.3s ease,
		background-color 0.3s ease,
		border-color 0.3s ease;
}

a:focus-visible,
button:focus-visible {
	outline: 2px solid var(--color-primary);
	outline-offset: 2px;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

/* Header */

.header {
	background: var(--color-gray);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	font-family: var(--second-family);
	font-size: 16px;
	text-transform: uppercase;
	color: var(--color-secondary);
	display: flex;
	gap: 50px;
}

/* Burger */

.burger {
	display: none;
	flex-direction: column;
	align-items: flex-end;
	gap: 6px;
	background: none;
	border: none;
	cursor: pointer;
}

.burger span {
	display: block;
	background: var(--color-secondary);
	height: 2px;
	transition: all 0.3s ease;
}

.burger span:first-child {
	width: 12px;
}

.burger span:last-child {
	width: 20px;
}

/* Hero */

.vertical {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.hero {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 60px 0;
	background: var(--color-gray);
	color: var(--color-secondary);
}

.hero .container {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.hero__inner {
	display: flex;
	flex: 1;
	align-items: stretch;
	gap: clamp(
		20px,
		calc(20px + (40 - 20) * ((100vw - 768px) / (1440 - 768))),
		40px
	);
}

.hero__content {
	display: flex;
	flex: 1;
	text-align: left;
}

.hero__side {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60px;
	font-weight: 500;
	font-size: 12px;
}

.hero__line {
	width: 1px;
	height: 100%;
	background: #fff;
	margin: 10px 0;
	flex: 1;
}

.hero__main {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;
}

.hero__stats {
	display: flex;
	padding-top: 100px;
	margin-bottom: 40px;
	gap: 60px;
}

.hero__stats-item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 8px;
	align-items: center;
	white-space: nowrap;
}

.hero__plus {
	grid-column: 1;
	text-align: center;
}

.hero__number {
	grid-column: 2;
}

.hero__number,
.hero__plus {
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 48px;
	text-transform: uppercase;
}

.hero__text {
	grid-column: 2;
	font-weight: 400;
	font-size: 16px;
}

.hero__right {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.hero__title {
	font-family: var(--second-family);
	font-weight: 300;
	font-size: clamp(56px, 8vw, 116px);
	text-transform: uppercase;
	line-height: 114%;
	margin-bottom: 40px;
}

.hero__subtitle {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	flex-shrink: 0;
}

.hero__images {
	display: flex;
	align-items: flex-start;
	justify-content: right;
	gap: 40px;
}

.hero__images img:last-child {
	width: 100%;
	max-width: 280px;
	min-width: 220px;
	height: auto;
}

.hero__images img:first-child {
	max-width: 220px;
	height: auto;
	margin-top: clamp(120px, 20vw, 256px);
}

.hero__desc {
	text-align: right;
	margin-top: auto;
}

.hero__scroll {
	display: flex;
	gap: 8px;
	margin-top: auto;
}

.hero__scroll::after {
	content: '';
	width: 24px;
	height: 24px;
	background-color: currentColor;
	mask: url('../img/arrow-down.svg') no-repeat center / contain;
}

/* About */

.about {
	padding: 60px 0;
}

.about__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	align-items: start;
}

.about__col {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.about__box > h2 {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.about__col > p {
	font-weight: 400;
	font-size: 16px;
}

/* Portfolio */

.portfolio {
	background: var(--color-gray);
	padding: 60px 0;
	color: var(--color-secondary);
	overflow: hidden;
}

.portfolio__title {
	text-align: left;
	margin-bottom: 12px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 32px;
	text-transform: uppercase;
}

.portfolio__text {
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 16px;
}

.portfolio__photo {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	margin-top: 40px;
	width: max-content;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.portfolio__photo .item {
	flex-shrink: 0;
}

.portfolio__photo::before,
.portfolio__photo::after {
	content: '';
	display: block;
	flex-shrink: 0;
}

.portfolio .item img {
	display: block;
	width: auto;
}

.portfolio__photo .item:nth-child(1) img {
	margin-top: 120px;
}

.portfolio__photo .item:nth-child(2) img {
	margin-top: 217px;
}

.portfolio__photo .item:nth-child(3) img {
	margin-top: 120px;
}

.portfolio__photo .item:nth-child(5) img {
	margin-top: 120px;
}

.portfolio__photo .item:nth-child(6) img {
	margin-top: 217px;
}

.portfolio__photo .item:nth-child(8) img {
	margin-top: 120px;
}
.portfolio__photo .item:nth-child(9) img {
	margin-top: 217px;
}
.portfolio__photo .item:nth-child(11) img {
	margin-top: 120px;
}

/* Price */

.price {
	padding: 60px 0;
}

.price__title {
	font-family: var(--second-family);
	text-align: left;
	font-weight: 400;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.price__subtitles {
	margin-bottom: 40px;
}

.price__flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}

.price__card {
	display: flex;
	flex-direction: column;
	padding: 24px;
	border: 1px solid #222;
	min-height: 500px;
	width: 320px;
	transition: border-color 0.3s ease;
}

.price__card > ul {
	margin-bottom: 12px;
}

.price__card > ul > li {
	position: relative;
	padding-left: 15px;
}

.price__card > ul > li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 6px;
	height: 6px;
	background: url('../img/item.svg') no-repeat center;
}

.price__value {
	font-family: var(--second-family);
	font-size: 16px;
	text-transform: uppercase;
}

.price__desc {
	font-style: italic;
	font-size: 16px;
	margin-bottom: 20px;
	margin-top: auto;
}

.price__card button {
	padding: 18px 20px;
	font-family: var(--second-family);
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: #222;
	color: #fff;
}

.price__card h3 {
	margin-bottom: 12px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
}

.price__card p {
	margin-bottom: 10px;
}

/* FAQ */

.faq {
	background: var(--color-gray);
	color: var(--color-secondary);
	padding: 60px 0;
}

.faq__inner {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 80px;
}

.faq__title {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 32px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 12px;
}

.faq__subtitle {
	font-size: 16px;
}

.faq__item {
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
}

.faq__item p {
	margin-top: 18px;
}

.faq__item summary {
	font-family: var(--second-family);
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	list-style: none;
	transition: color 0.3s ease;
}

.faq__item summary::after {
	content: '';
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-color: currentColor;
	mask: url('../img/plus.svg') no-repeat center / contain;
}

.faq__item[open] summary::after {
	mask: url('../img/minus.svg') no-repeat center / contain;
}

.faq__item summary::-webkit-details-marker {
	display: none;
}

/* Footer  */

.footer__top {
	background: var(--color-secondary);
	padding: 40px 0px 20px;
	text-align: center;
}

.footer__title {
	font-family: var(--second-family);
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer__form {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.footer__form input {
	padding: 15px;
	border: 1px solid var(--color-gray);
	width: 380px;
	max-width: 100%;
}

.footer__form input::placeholder {
	font-family: var(--second-family);
	font-size: 16px;
	text-transform: uppercase;
}

.input__name::placeholder {
	color: #989898;
}

.input__tel::placeholder {
	color: #222;
}

.footer__form button {
	font-family: var(--second-family);
	min-width: 200px;
	height: 60px;
	background: var(--color-gray);
	color: var(--color-secondary);
	font-size: 16px;
	text-transform: uppercase;
	border: none;
}

/* низ */
.footer__bottom {
	background: var(--color-gray);
	color: var(--color-secondary);
	padding: 30px 0;
}

.footer__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 40px;
	text-transform: uppercase;
}

.footer__links a,
.footer__links span {
	white-space: nowrap;
}

@media (hover: hover) {
	a:hover {
		color: var(--color-hover);
	}

	.price__card:hover {
		border-color: var(--color-hover);
	}

	.price__card:hover button {
		background: var(--color-hover);
		color: #000;
	}

	.footer__form button:hover {
		background: var(--color-hover);
	}

	.faq__item summary:hover {
		color: var(--color-hover);
	}

	.footer__form input:hover {
		border-color: var(--color-hover);
	}

	.footer__form input:focus {
		outline: none;
		border-color: var(--color-hover);
	}
}

@media (max-width: 1365px) {
	.hero__images img:first-child {
		display: none;
	}
}

@media (max-width: 1000px) {
	.about__grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.about__col:last-child img {
		display: none;
	}
}

@media (max-width: 768px) {
	.nav {
		display: none;
	}

	.burger {
		display: flex;
	}

	.hero__images img:last-child {
		max-width: 220px;
	}

	.faq__inner {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 715px) {
	.hero__side {
		display: none;
	}
}

@media (max-width: 635px) {
	.hero {
		min-height: auto;
		text-align: center;
	}

	.hero__right {
		flex: none;
		justify-content: flex-start;
		gap: 20px;
	}

	.hero__content {
		flex: none;
	}

	.hero__scroll {
		display: none;
	}

	.hero__inner {
		flex-direction: column;
	}

	.hero__stats {
		padding-top: 0;
	}

	.footer__form {
		flex-wrap: wrap;
	}

	.footer__form button,
	.footer__form input {
		width: 100%;
	}
}

@media (max-width: 380px) {
	.footer__links {
		flex-direction: column;
	}
}
